// COLORS

$main-dark-color: #201F50;
$main-light-color: #ffffff;
$secondary-color: #AAAAAA;
$secondary-purple-color: #6366F1;
$secondary-purple-color-lighter: #6365f160;

// SIZES
$container: 1170px;

// FONTS
$main-font: "Gilroy", sans-serif;
$secondary-font: "Evogria", sans-serif;